*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.btn{
	margin: 100% -60%;
}
h5{
	margin-right: 15%;
	font-size: 12px;
	color: #1705FE;
}
label, h4, h6{
	color: #060256;
}
h4{
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}
.fa-globe{
	font-size: 2em;
}
body{
	background-color: #64B5EE;
	background-size: cover;
	color: #FFFFFF;
	font-size: 2em;
}
.wrap{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
.widget{
	width: 40%;
	margin: 2em;
}
.widget p{
	display: inline-block;
	line-height: 1em;
}
.fecha{
	font-family: Arial;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 0.3125rem;
	background: rgba(0,0,0,.5);
	padding: 20px;
	width: 100%;
}
.reloj{
	font-family: Arial;
	text-align: center;
	font-size: 4em;
	background: rgba(0,0,0,.5);
	padding: 20px;
	width: 100%;
}
.caja-segundos{
	display: inline-block;
}
.reloj .segundos, .reloj .ampm {
	font-size: 2rem;
	display: block;
}